"*":
  "atom-webbrowser":
    homepage: "http://localhost:3000"
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "enter"
    maxVisibleSuggestions: 4
  "autohide-tree-view":
    showOn: "hover + click"
  "browser-plus":
    homepage: "http://localhost:3000"
  core:
    disabledPackages: [
      "tool-bar"
      "terminal-plus"
      "platformio-ide-terminal"
      "browser-plus"
      "coffee-compile"
      "atom-tachyons"
      "termination"
      "busy-signal"
      "atom-browser"
      "autohide-tree-view"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "Gloom-for-Nord"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Inconsolata, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    lineHeight: 1.35
  "exception-reporting":
    userId: "2e8342fc-d77b-4b53-814f-f0c5ed349f30"
  "linter-eslint":
    lintHtmlFiles: true
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  "platformio-ide-terminal":
    style:
      theme: "inverse"
  "status-bar": {}
  "terminal-plus":
    style:
      theme: "silver-aerogel"
  termination:
    core: {}
    style:
      theme: "one-dark"
  "tool-bar":
    iconSize: "16px"
    position: "Bottom"
  "vim-mode-plus":
    keymapSToSelect: true
    startInInsertMode: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
